@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

h4{
  font-weight: 400;
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
